/*********************************************************
***********************************************************
Enter rules that apply to ALL screen sizes and ALL pages below.
Use the wireframe and pay attention to the way tags are
NESTED to help you place the rules in a logical order --
much like an outline you create for a paper or presentation
Example:
************************************************************/
/** 10/27 THIS IS NOW THE LARGE/NORMAL SCREEN AREA. 750px +, and the smaller screens will be kept within a media query going forward to clean up CSS**/
/* Project is now set up for main and 1 media breakpoint for small/mobile devices */
 /***********************************************************
    Follow the pattern for the small screen, with appropriate
    comments to indicate the scope of the rules:
    ALL LARGE SCREEN rules, followed by
    RULES FOR INDIVIDUAL PAGES, if any.
    *************************************************************/

header {
            
                
    width: 100%;
    min-height: 100px;
    background-image:url("../images/LogoLarge.png");
     background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;

    }
        
body {
    background-color: #A2A3F5;
    color: #3F3A0B;
    font-family: 'Times New Roman', Times, serif;

    }

main {
    height: 100vh;
    overflow: scroll;
    background-color: #E6F0F8;

}

footer {
        clear: both;
        text-align: center;

        }

/* new nav big screen formatting 10/20. Flexbox not working */
nav a {
    width: 100px;
    background-color: #E6F0F8;
    margin-bottom: 5px;
    font-size: 1.50em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        }

.navcontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}    

.wrapper {
    display: flex;
    
    
}

/* The colors all come from Adobe color accessibility swatch tool. Additionally, I used their contrast tool to pick 
additional colors that looked nicely on backdrops I chose. I added additional colors beyond my forum post after testing -JAB 10/6 */
/* using these tools, I was able to get contrast ratios closer to 4.99 : 1, well above suggested ratio */
ul {
    list-style-type: none;
    }

li {
    font-size: 1.25em;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}

img {
        max-width: 20%;
        height: auto;

      }
    
aside {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    border-style: solid;
    border-radius: 30px;
    width: 1000px;
}

/* it actually wasn't too bad fiddling with margin/padding - multiple monitors save me a lot of frustration*/
/* these are now being used by all pages 10-13 */

/* GRIDVIEW BOX CLASSES AND ITEM DEFINITIONS FOR ADOPTIONS PAGE*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    background-color: #c2a136;
    padding: 5px;
    justify-content: auto;
  }

.grid-container > div {
    background-color: #cccac4;
    text-align: center;

}


.item1 { grid-column: 1; grid-row: 1; }

.item2 { grid-column: 2; grid-row: 1; }

.item3 { grid-column: 3; grid-row: 1/4; }

.item4 { grid-column: 1; grid-row: 2; }

.item5 { grid-column: 2; grid-row: 2;}

.item6 { grid-column: 1/3 ; grid-row: 3;}

    
/* GRIDVIEW BOX CLASSES AND ITEM DEFINITIONS FOR ADOPTIONS PAGE*/
/* settled on 3x3 for large screen. long (item 3) in column 3, row 1-3. wide (item 6) in row 3, columns 1-2 */
/* honkus is item 1, ogleby, industrialgradesealant3b, booper, hummus, boxcutter */
/* problems - images look janky and odd sizes won't play nicely with the spacing*/

/*  CUSTOM CLASSES DEV AREA */

.cursive-center {
    font-family:cursive;
    text-align: center;

}

.warning {
    color: red;
    font-weight: bold;
    font-size: larger;
}

/* MENU PAGE COLUMNS -NOT FLEXBOX*/
.column {
    float: left;
    padding: 10px;
    margin: 15px;
}

.leftcolumn {
    width: 5%;
    float: left;
    clear: left;
}

.rightcolumn {
    width: 95%;
}

.heropadding {
    padding-left: 750px;
}

/* free to use, from https://www.publicdomainpictures.net/en/view-image.php?image=488603&picture=parchment-paper-background-texture */

.menu-paper {
       background-image: url(../images/menu.jpg);
       background-color: #cccccc;
       width: 80%;
       color: black;
}
/* archived from useage for Module 6 Flexbox replacement*/

.hosts-format {
    img {
        max-width: 180px;
        height: auto;
        border-radius: 75%;
        margin-left: auto;
        margin-right: auto;  
    }
    text-align: center;
    font-weight: bold;
}
/* archived from useage for Module 6 Flexbox replacement*/

/* archived from useage for Module 6 Flexbox replacement*/
.host-container {
    border-radius: 10px;
    width: 90%;
    background-color: #DCF06F;
    background-position: center;
    margin-left: auto;
    margin-right: auto; 
}
/* archived from useage for Module 6 Flexbox replacement*/

/*new Module 6 Host Flexbox. named to be array/gallery of images*/

.gallery-flexbox {
    width: 75%;
    background-color: #DCF06F;
    display: flex;
    background-position: center;
    margin-left: auto;
    margin-right: auto; 
}

.figure-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;

    
        img {
            max-width: 180px;
            height: auto;
            border-radius: 95%;
            
        }       

}


    figcaption {
        flex-wrap: wrap;
        
}

/* will affect navbar links/appearance */

a:link {
    color: black;
}

a:visited {
    color: #790000;
}

a:hover {
    font-size: larger;
}


.mod6nav {
    list-style-type: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left {
    align-items: flex-start;
}

/*  CUSTOM CLASSES DEV AREA */

/* CONTACT CLASSES for FORMS */

form {
  border-radius: 5px;
  background-color: #428C74;
  padding: 20px;
  width: 66%
}

label {
	color: black;
	font-weight: bold
}

 /* Style text inputs */
  input[type=text], select {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 15px

}

/* Style email inputs */
  input[type=email], select {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 15px

}

/* Style phone inputs */
  input[type=tel], select {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 15px

}

/* submit button */
input[type=submit] {
  width: 25%;
  background-color: #787878;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*background color for submit button on mouse-over */
input[type=submit]:hover {
  background-color: black;
	
} 


/**********************************************************************************************************************
****************************************************************************************************************************
**********************************************************************************************************************************
****************************************************************************************************************************
***********************************************************************************************************************/


    /**********************************************************
    Enter special rules that apply to ALL SMALL SCREENS ONLY below.
    Use a logical order!
    ***********************************************************/
    @media screen and (max-width: 749px) {
        header
        {
        
            width: 100%;
            min-height: 50px;
            background-image: url("../images/LogoSmall.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right top;
                
        }

        body {
            /** rule here**/
            /* The colors all come from Adobe color accessibility swatch tool. Additionally, I used their contrast tool to pick 
            additional colors that looked nicely on backdrops I chose. I added additional colors beyond my forum post after testing -JAB 10/6 */
            /* using these tools, I was able to get contrast ratios closer to 4.99 : 1, well above suggested ratio */
        
            background-color: #DCF06F;
            color: #1A5FB6;
            font-family: Arial, Helvetica, sans-serif;
            }

        img {
            max-width: 33%;
            height: auto;
          }
        
        aside {
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 6px;
            border-style: solid;
            border-radius: 30px;
            background-color: #99E0A3;
            color: #0A5F2E;
        }

        figure{

         img {
            max-width: 50px;
            height: auto
        }
        } 

       /* new nav small screen formatting 10/20 */
            nav a {
            width: 85px;
            height: 100px;
            margin: 2px;
            font-size: 1.40em;
            text-align: center;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            }


         .navcontainer {
                display: flex;
                flex-direction: row;
                
            } 

        .wrapper {
                display: flex;
                flex-wrap: wrap;
            }
        
            main {
                margin-top: 10px;
                background-color: #E6F0F8;
                color: #786422;
            }
    
        /* these are now being used by all pages 10-13 */

        /* GRIDVIEW BOX CLASSES AND ITEM DEFINITIONS FOR ADOPTIONS PAGE*/
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 10px;
            background-color: #c2a136;
            padding: 5px;
            justify-content: auto;
          }

        .grid-container > div {
            background-color: #cccac4;
            padding: 10px;

        }
        

        .item1 { grid-column: 1; grid-row: 1; }

        .item2 { grid-column: 2; grid-row: 1; }

        .item3 { grid-column: 2; grid-row: 3 / 4; }

        .item4 { grid-column: 1; grid-row: 3; }

        .item5 { grid-column: 1; grid-row: 4;}

        .item6 { grid-column: 1 / 3 ; grid-row: 2;}
        
            
        /* GRIDVIEW BOX CLASSES AND ITEM DEFINITIONS FOR ADOPTIONS PAGE*/
        /* going for 2columnx4row for small screen, putting boxcutter(item 6) (wide) after row 1. sealant (long) (item 3) is column 2, rows 3 and 4 */
        /* honkus is item 1, ogleby 2, industrialgradesealant3b, booper, hummus, boxcutter */
		
		
		
		
    }
        
     