/*********************************************************
***********************************************************
Enter rules that apply to ALL screen sizes and ALL pages below.
Use the wireframe and pay attention to the way tags are
NESTED to help you place the rules in a logical order --
much like an outline you create for a paper or presentation
Example:
************************************************************/

body {
    /** rule here**/
    /* The colors all come from Adobe color accessibility swatch tool. Additionally, I used their contrast tool to pick 
    additional colors that looked nicely on backdrops I chose. I added additional colors beyond my forum post after testing -JAB 10/6 */
    /* using these tools, I was able to get contrast ratios closer to 4.99 : 1, well above suggested ratio */

    background-color: #DCF06F;
    color: #1A5FB6;
    font-family: Arial, Helvetica, sans-serif;
    }

main {
    background-color: #E6F0F8;
    color: #786422;
    }

aside {
    background-color: #99E0A3;
    color: #0A5F2E;
    }

/* These currently only are being used on the Menu page for now. */
ul {
    list-style-type: none;
    }

li {
    font-size: 1.25em;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}
/* These currently only are being used on the Menu page for now. */


    /**********************************************************
    Enter special rules that apply to ALL SMALL SCREENS ONLY below.
    Use a logical order!
    ***********************************************************/
    @media screen and (max-width: 749px) {
        header
        {
        
            width: 100%;
            min-height: 50px;
            background-image: url("../images/LogoSmall.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right top;
                
        }
       

        img {
            max-width: 33%;
            max-height: auto
          }
        /* these currently only are being used on the Your Hosts page for now */


        /* these currently only are being used on the Your Hosts page for now */
    }
        
        

    /**********************************************************
    Enter special rules that apply to SOME SMALL SCREENS, if needed
    Be sure to enter a comment to help identify which small screen!
    Applying rules to specific pages usually involves using classes
    or tags that are unique to the page. (covered in the Classes
    modlue)
    Example:
    /*****About page rules below *******/

    
        /* I am commenting to show I was curious about touching this!*

        .aboutspecialclass {}
        
        leaving it in a comment because it upset me that it was throwing me cautions in the IDE*/


    
    /*************************************************************/


    /**************************************************************
    ***************************************************************
    Now it is time for the media queryrules that apply to
    LARGE SCREENS ONLY.
    If a rule was created for ALL SCREENS above, and you want to
    use the same rule, DO NOT REPEAT IT!
    Start with the media query. Remember that all the media query
    rules are NESTED witin the media query braces! Don't delete that
    last brace!
    For class purposes, use a screen width of 650px. (This is just
    to make it easy for me to grade, not because it is the "right"
    screen size for a smartphone.
    !!!!!THERE IS ONE AND ONLY ONE @media statement!!!!!
    Do not have a second one unless you asked to code for notebooks
    or devices with different sizes.
    ***************************************************************/
    @media screen and (min-width: 750px) 
    {
    /***********************************************************
    Follow the pattern for the small screen, with appropriate
    comments to indicate the scope of the rules:
    ALL LARGE SCREEN rules, followed by
    RULES FOR INDIVIDUAL PAGES, if any.
    *************************************************************/
        header {
            
                
                width: 100%;
                min-height: 100px;
                background-image:url("../images/LogoLarge.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right top;

                }

/* The colors all come from Adobe color accessibility swatch tool. Additionally, I used their contrast tool to pick 
    additional colors that looked nicely on backdrops I chose. I added additional colors beyond my forum post after testing -JAB 10/6 */
/* using these tools, I was able to get contrast ratios closer to 4.99 : 1, well above suggested ratio */

        body {
            background-color: #A2A3F5;
            color: #3F3A0B;
            font-family: 'Times New Roman', Times, serif;
        
            }


        img {
                max-width: 33%;
                max-height: auto;

              }
            /* these currently only are being used on the Your Hosts page for now */



        /* these currently only are being used on the Your Hosts page for now */
    }


/*  CUSTOM CLASSES DEV AREA */

.cursive-center {
    font-family:cursive;
    text-align: center;

}

.warning {
    color: red;
    font-weight: bold;
    font-size: larger;
}

/* free to use, from https://www.publicdomainpictures.net/en/view-image.php?image=488603&picture=parchment-paper-background-texture */

.menu-paper {
       background-image: url(../images/menu.jpg);
       background-color: #cccccc;
       width: 80%;
       color: black;
}

.hosts-format {
    img {
        max-width: 180px;
        max-height: 180px;
        border-radius: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }
    text-align: center;
    font-weight: bold;
}

.host-container {
    border-radius: 10px;
    width: 90%;
    background-color: #DCF06F;
    background-position: center;
    margin-left: auto;
    margin-right: auto; 
}
/* will affect navbar links/appearance */

.navbar {

    a:link  {
            color: black;
        }

    a:visited {
        color: #790000;
    }

    a:hover {
        font-size: larger;
    }
}
/*  CUSTOM CLASSES DEV AREA */